<h2>ユーザー</h2>
<ul>
	<% @users.each do |user| %>
		<li><%= user.email %></li>
	<% end %>
</ul>

<h2>Posts</h2>
<ul>
	<% @posts.each do |post| %>
		<li>
			<%= post.content %>
			<%= image_tag post.image.url, class: 'thumb' %>
			<%# post.pictures.each do |picture| %>
				<%#= image_tag picture.image.url, class: 'thumb' %>
			<%# end %>		
		</li>
	<% end %>
</ul>

<style>
	.thumb{
		width: 160px;
		height: auto;
	}
</style>

<%= form_for(@post) do |f| %>

  <div class="form-group">
    <%= f.label :content, '内容' %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

<!-- 	<%= f.fields_for :pictures do |a| %>
  	<div class="form-group">
			<%= a.label :image, '画像' %><br />
			<%= a.file_field :image %>
		</div>
  <% end %> -->

  <div class="form-group">
		<%= f.label :image, '画像' %><br />
		<%= f.file_field :image %>
	</div>

    
  <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
  
<% end %>

<%= link_to 'hghogwe', api_v1_posts_path %>